$azul: #2790f5;
$rojo: #c03232;
$verde: #32c032;
$rojofull: rgba($rojo, 0.8);
$rojogra: rgba($rojo, 0.6);
$azulfull: rgba($azul, 0.8);
$azulgra: rgba($azul, 0.6);
$bg: #24272b;

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.login_container {
  background-color: $bg;
  height: 60vh;
  width: 33%;
  text-align: center;
  padding-top: 7%;
  padding: 90px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.753);
  h1 {
    color: white;
  }
  input {
    background-color: #a6bddb17;
    color: white;
    box-shadow: 0 2px 4px 0 rgba($color: rgb(139, 134, 134), $alpha: 0.2);
    border: none;
    padding: 5px 15px;
    text-align: left;
    font-weight: bold;
    border-radius: 25px;
  }
  .loginBtn {
    padding: 9px 15px;
    background: $azulfull;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    color: lightgray;
  }

  .loginBtn:hover {
    background-color: $azulgra;
  }
  .cancelBtn {
    padding: 5px 15px;
    background: $rojofull;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: lightgray;
  }
  .cancelBtn:hover {
    background-color: $rojogra;
  }
  .signupBtn {
    padding: 5px 15px;
    background: rgba($verde, 0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: lightgray;
  }
  .signupBtn:hover { background-color: rgba($verde, .7);}
}
